.wrapper-verify-number
    position: relative
    min-height: 56px
    .imput-primary
        position: absolute
        left: 0
        width: 62%
        border-top-right-radius: 0
        border-bottom-right-radius: 0
    .button-primary
        position: absolute
        right: 0
        width: 40%
        padding: 13px 16px
        font-weight: 400
        font-size: 20px
        z-index: 3