@import '../../variables' 
header,footer
    display: none
.blue-link
    text-decoration: none
    color: $orenge
    font-size: 14px
    font-weight: 400
.grey-link
    text-decoration: none
    color: $gray
    font-size: 14px
    font-weight: 400
.error-formik
    margin-top: 10px
    color: $red-alert
    padding: 0 5px
.form-container
    width: 100%
    height: 100%
    padding-bottom: 100px
    .row
        width: 100%
        margin: auto
        max-width: 500px
        margin-top: 8%
        .col-12
            h1
                font-weight: 700
                font-size: 28px
                text-align: center
                color: $black
                margin-bottom: 40px